.category-title h1 {
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: -30px;
}

.table {
  width: 90%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: #4d4d4d !important;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 0;
  background: none;
}

.mat-form-field-wrapper {
  height: 40px;
}

.mat-input-element {
  font-size: 14px;
  color: #4d4d4d !important;
}

td,
th {
  width: 25%;
}

.label {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 500;
}
