.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-card {
  max-width: 200px;
}

.btn-go {
  background-color: #ffffff;
  width: 100px;
}

.btn-go a {
  color: #000000;
  text-decoration: none;
}
