.side_nav {
  background-color: var(--white);
  height: 100%;
}

.main_head {
  background-color: var(--white);
  height: 50px;
}

.main div p {
  color: rgb(0, 115, 170);
  font-size: 16px;
  font-weight: 400;
  width: 80px;
}

.sub {
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 14px;
}

.sub a {
  color: rgb(37, 37, 37);
  font-weight: 400;
  width: 100%;
}

.active a {
  color: #fff;
}

.active {
  background-color: var(--primary-color);
  color: #fff;
  height: 40px;
}

.div {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(255, 255, 255);
}
