/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-error {
  background-color: #f44336;
  height: inherit;
  color: antiquewhite;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  padding-top: 10px;
}

.toast-container {
  height: 50px;
  width: 100% !important;
}

.toast-bottom-right {
  bottom: 0;
  right: 0;
}

// variables
:root {
  --primary-color: #0073aa;
  --secondary-color: #23282d;
  --tertiary-color: #81b5cd;
  --quaternary-color: #f44336;
  --white: #fff;
}

a {
  text-decoration: none !important;
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Mada", sans-serif !important;
}

.box {
  border-top: 4px solid #7fb9d4;
}

// .box-body {

// }
